$font-family: "museoSans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;

$helvetica-neue: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;

$font-size: 16px;

$font-weight-normal: 300;

// Colors
$link-color:         #3096EC;

$main-bg-color:         #000;
$sub-bg-color:          #e4e7ea;

$main-text-color:       #616161;

$white-color:           #ffffff;

$primary-color:         #357ebd;
$primary-color-hover:   #428bca;

$success-color:         #78b66a;
$success-color-hover:   #7ec06f;

$warning-color:         #d17e34;
$warning-color-hover:   #f29841;
$warning-color-bg:      #fcf8e3;
$warning-color-border:  #fedab0;

$danger-color:          #d43f3a;
$danger-color-hover:    #d9534f;

$info-color:            #5bc0de;

$bg-light-blue:         #d1e8fa;

$xref-colour: #8ebd00;
$xref-colour-transparent: rgba(142, 189, 0, 0.2);
$xref-colour-dark: #698C00;
$xref-colour-disabled: #b3bc96;

$text-light: #999;
$text-lighter: #d2d2d2;
$text-dark: #333;
$text-darker: #000;
$text-inverse: #fff;

$form-success: #3c763d;
$form-danger: #a94442;

$btn-bg-hover: #f3f3f3;
$btn-border-hover: #cccccc;

$panel-heading-dark: #D4D7DA;

$brand-blue: #1687E1;
$brand-green: #8BB800;

$section-bg-grey: #f3f3f3;

$coverageBar: #DDEBB3;
