<main>
  <div class="container">
    <div class="nav navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" aria-expanded="false" (click)="mobileMenu = !mobileMenu">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="" i18n>Xref Style guide</a>
        </div>

        <div class="navbar-collapse" [class.collapse]="mobileMenu">
          <ul class="nav navbar-nav">
            <li><a routerLink="/" i18n>Overview</a></li>
          </ul>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

    <h1 i18n>Hello from Angular App with Webpack</h1>
    <img src="/images/angular.png">

  </div>
</main>
